/* goooglefonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.hover-color:hover{
    color: #017fe4;
    border-bottom: 1px solid #017fe4;
}

@media (max-width: 556px) { 
    .hover-color:hover{
        border-bottom: none !important;
    }
 }

 /* iconbar */
 a {
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    line-height: 3;
  }
  
  .icon {
    color: white;
    position: relative;
    left: -10px;
    font-family: 'Lato';
  }
  
  #sidebar {
    height: 250px;
    width: 10px;
    position: fixed;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    
    
  }
  
  p i {
    left: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
  }
  
  .social {
    margin-left: -200px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 0px;
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
  }

  .facebook{
    background-color: #3b5998
  }

  .whatsapp{
    background-color: #25d366;
  }

  .linkedin{
    background-color: #0976B4;
  }
  
  .social:hover {
    margin-left: -30px;
    width: 230px;
  }
  
  .facebook:hover {
    background-color: #3b5998;
  }
  
  .whatsapp:hover {
    background-color: #25d366;
  }
  
  
 

  .linkedin p i {
    left: 20px;
  }
  


  .linkedin:hover {
    background-color: #0976B4;
  }

  /* end */

.footer-hover:hover{
    color: #017fe4;
}

.circle-icon {
  
    width: 80px;
    height: 80px;

    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    
}